#account-page.account-page
  .header
    .logo
      = link_to root_path do
        = image_tag("logo.png")
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 登録が完了しました
    .action
      = link_to "トップページへ", root_path