.header
  .header_box
    .header_box__main
      .header_box__main__image
        = link_to root_path do
          = image_tag("logo.png")
      .header_box__main__search
        %input{placeholder: " キーワードから探す", type: "text"}/
      .header_box__main__btn
        %input{type: "submit",class: "send"}/
        = image_tag("icon-search 1.png")
    .header_box__sub
      .header_box__sub__left-list
        .header_box__sub__left-list__btn
          =link_to "カテゴリー","#"
          =link_to "ブランド","#"
      .header_box__sub__light-list
        .header_box__sub__light-list__btn
          -if user_signed_in?
            =link_to "ログアウト", destroy_user_session_path, method: :delete
            =link_to "マイページ", user_path(current_user)
          -else 
            =link_to "ログイン", new_user_session_path
            =link_to "新規会員登録", new_user_registration_path
            
          