.footer
  .footer_content
    .footer_content__list
      .footer_content__list__box
        %h2 
          =link_to "FURIMAについて"
        %ul 
          %li 
            =link_to "会社概要（運営会社）","#"
          %li 
            =link_to "プライバシーポリシー","#"
          %li 
            =link_to "FURIM利用規約","#"
          %li 
            =link_to "ポイントに関する特約","#"
      .footer_content__list__box
        %h2 
          =link_to "FURIMAを見る"
        %ul
          %li
            =link_to "カテゴリ一覧"
          %li 
            =link_to "ブランド一覧"
      .footer_content__list__box
        %h2 
          =link_to "ヘルプ＆ガイド"
        %ul
          %li 
            =link_to "FURIMAガイド"
          %li 
            =link_to "FURIMAロゴ利用ガイドライン"
          %li 
            =link_to"お知らせ"
    .footer_logo
      = image_tag("logo-white.png")
    .footer_logo_sub
      %p © FURIMA
