.item_detail__body
  = image_tag @images[0].image.url,class:"item_detail__body__main-image"
  - @images.each do |image|
    .item_detail__body__imagelist
      = image_tag image.image.url,class:"item_detail__body__sub-image"