.item-detail__body
  = image_tag @images[0].image.url,class:"item-detail__body__main-image"
  - @images.each do |image|
    .item-detail__body__image-list
      = image_tag image.image.url,class:"item-detail__body__sub-image"