.mycard_main
  %h2.mycard_header
    支払い方法
  .card_list
    .card_list__content
      %section.card_section
        %label クレジットカード一覧
        %br
        .card_list__add
          = fa_icon 'credit-card'
          = link_to 'クレジットカードを追加する', new_card_path, class:'add-card'
    %p.payment_about
      %span
      = link_to '支払い方法について', root_path, class:'payment_info'
      = fa_icon 'chevron-right'