%label 登録カード情報
%br/
= "**** **** ****" + @default_card_infomation.last4
%br/
- exp_month = @default_card_infomation.exp_month.to_s
- exp_year = @default_card_infomation.exp_year.to_s.slice(2,3)
= exp_month + " / " + exp_year
= form_tag(card_delete_path, method: :post, id: 'charge-form', name: "inputForm") do
  %input{ type: "hidden", name: "card_id", value: "" }
  %button 削除する
