* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.main-view{
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;

  .detail-show{
    padding: 40px;
      .right-content{
        width: 700px;
        margin: 0 auto;

        .top-content{

          .item-detail{
            background-color:white;
            padding: 24px 40px 40px;
            text-align: center;

            &__item-name{
              font-weight: bold;
              font-size: 24px;
            }
            &__body{
              margin-top: 16px;
              &__main-image{
                width: 560px;
                height: 346px;
                object-fit: cover;
              }
              &__image-list {
                display:inline-block;
                margin: 5px;
              }
              &__sub-image{
                width: 140px;
                height: 87px;
                object-fit: cover;
              }
              }
            &__price{
              margin: 24px 0;
              &__money{
                font-size: 46px;
                font-weight: bold;
                margin-right: 10px;
              }
            }
            &__text{
              text-align: left;
              margin-bottom: 30px;
              font-size: 18px;
            }

            .item-link{
              display: flex;
              justify-content: start;
              padding-top: 10px;
              &__btn{
                &__delete{
                  padding-right: 10px;
                }
              }
            }

            .purchase-box{
              display: flex;
              justify-content: center;
              padding-top: 30px;
              &__btn{
                width: 300px;
                height: 50px;
                background-color: #3CCACE;
                line-height: 50px;
                color: #f8f8f8;
              } 

              &__btn2{
                width: 300px;
                height: 50px;
                background-color: grey;
                line-height: 50px;
                color: #f8f8f8;
                font-size: 17px;
              } 
               
            }

            table{
              width: 100%;
              height: 375px;
              border: 1px solid #dedede;
              margin: 0 auto;
              font-size: 14px;
              margin-bottom: 20px;
            }

            table th{
              padding: 8px;
              text-align: center;
              border: 1px solid #dedede;
              background-color: #EEEEEE;
              border-collapse: collapse;
            }

            table td{
              padding: 15px;
              text-align: left;
              border: 1px solid #dedede;
              border-collapse: collapse;
            }
          }
        .option_area{
          display: flex;
          justify-content: space-between;
          color: #3ccace;
        }

        .comment-area{
          width: 100%;
          height: 240px;
          margin: 10px 0;
          padding: 24px;
          background-color: white;
          text-align: center;
          overflow-x: scroll;
          line-height: 40px;
          
          &__title {
            
          }

          &__list {
            p {
              float: right;
              position: relative;
              width: calc(100% - 56px);
              padding: 16px;
              background: #eef0f4;
              border-radius: 15px;
              line-height: 1.5;
              word-break: break-all;
              margin: 60px 0 0;
              text-align: left;
            }
          }

          h3 {
            width: 100%;
            height: 50px;
            background-color: #3CCACE;
            line-height: 50px;
            color: #f8f8f8;
          }

          b {
            color: #f8f8f8;
          }

          .comment{
            width: 95%;
            background-color: #eef0f4;
          }
          p.note-msg{
            background-color: #f8f8f8;
            font-size: 14px;
            padding: 8px;
            margin: 10px 0;
            text-align: left;
          }
          .comment-btn{
            width: 50px;
            height: 30px;
            font-size: 14px;
          }
        }

        .pagelink{
          display: flex;
          justify-content: space-between;
        }

        .see_more{
          font-size: 22px;
          margin: 24px 0 8px;
          font-weight: bold;
        }
        a{
          text-decoration: none;
          color: #3ccace;
        }
      }
    }
  }
}
