.pickup-box{
  padding-bottom: 80px;
}
.pickup-boxs,.pickup-box{
  &__title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

    a{
      text-decoration: none;
      color: #3ccace;
    }
  }
  .pickup-lists{
      margin: 30px auto;
      display: flex;
      overflow-y: auto;
      
    .pickup-listed{
      width: 220px;
      display: inline-block;
      padding-right: 10px;
      &--image{
        // background-color: #3ccace;
        width: auto;
        height: 150px;
        
      }
      &--body{
        background-color: white;
        color: #333;
        padding: 16px;
        height: 100px;
        .name{
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        .details{
          font-size: 16px;
          ul{
            display: flex;
            justify-content: space-between;align-items: center;
          }
          .fa{
            font: normal normal normal 14px/1 FontAwesome;
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
          }
          p{
            font-size: 10px;
          }
        }
        .items-box_photo__sold{
          width: 0;
          height: 0;
          border-top: 60px solid #ea352d ;
          border-right: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 60px solid #ea352d ;
          z-index:100;
          position: relative;
          top: -233px;
          right: 16px;
          &__inner{
            transform: rotate(-45deg);
            font-size: 28px;
            margin:-35px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
