* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.r-content{
  width: 700px;
  .r-container{

    .r-head{
      height: 50px;
      padding: 12px 4px;
      text-align: center;
      line-height: 50px;
      font-size: 24px;
    }

    .r-add_card{
      padding: 64px;
      &__sub_head{
        width: 100%;
        h3{
          font-size: 16px;
        }
      }

      &__add-btn{

        &__content{
        width: 100%;
        height: 50px;
        background-color: black;
        text-align: center;
        color: white;
        margin-bottom: 8px;

        .btn-add_card{
          background-color: red;
          height: 50px;
        }
        }
      }

      &__add-btn-content{

      }

      &__about{

      }
    }
  }
}