// ----------ヘッド
.header {
  * {
    box-sizing: border-box;
  }

  display: block;
  padding: 0 60px;

  .header_box {
    * {
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      font-weight: normal;
    }

    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    &__main {
      position: relative;
      display: flex;
      align-items: center;

      &__image {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

      img {
        width: 140px;
        display: block;
      }
      }

      &__search {
        margin-left: auto;
        width: 100%;

        input {
        width: calc(100% - 10px);
        height: 36px;
        padding: 0 0 0 5px;
      }
    }
      &__btn {
        width: 36px;
        border: 0;
        cursor: pointer;
        background-color: #3CCACE;
        padding: 8px;

        .send {
          display: none;
        }

      img {
        width:100%;
        vertical-align: bottom;
        height: auto;
      }
      }
    }

    &__sub {
      justify-content: space-between;
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      

      a{
        color: #333;
        text-decoration: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 45px;
      }

      &__left-list {
        position: relative;
        }

        ul {
          display: flex;
        }

        li {
          text-decoration: none;
          padding: 0;
          line-height: 38px;
        }
    }

      &__light-list {
        margin-left: auto;

        ul {
          display: flex;
        }
        
        li {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
      }
  }
}


// ---------------ボディ
.main {
  * {
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    font-weight: normal;
  }
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  // ------ミキさん
  .main_box {
    width: 100%;
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .main_box__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 110px 0 0 0;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 60px;
          line-height: 1.2;
          color: #fff;
      }
    &__text {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      margin-top: 16px;
      line-height: 1.77778;
    } 
    &__btn {
      display: flex;
      margin: 24px 0 0 0;
      width: 180px;
      img {
        width: 180px;
      }
      a {
        margin-right: 10px;
      }
      &__apple {
        display: flex;
      }
  
      &__google {
        margin-right: 10px;
      }
    }
    }
  }

  //-----大林さん
  .top {
    padding: 60px 20px;
        .subtitle  {
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
  
        .subtitle::after {
          content: "";
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
  
        .lists {
          text-align: center;
          display: flex;
          max-width: 1020px;
          width: 100%;
          margin: 0 auto;
          .list {
            width: 30%;
            margin: 16px 5% 0 0;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__pic {
              position: relative;
              margin-bottom: 20px;
              .number {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4%;
                font-size: 30px;
                text-align: center;
                margin: 0 5px 0 0;
                padding: 10px 20px;
                background-color: #3CCACE;
                color: #fff;
              }
  
              img {
                width: 100%;
                vertical-align: bottom;
                height: auto;
              }
            }
  
            &__text {
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              margin: 0 0 0 2px;
  
              span {
                color: #3CCACE;
              }
            }
  
            &__comment {
              font-size: 18px;
              line-height: 1.5;
              margin: 16px 0 0;
            }
          }
        }
  
      
  }
  
  .middle {
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
  
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
  
      .subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      
      .text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
  
      .btn {
        display: flex;
      }
  
      .btn a  {
        margin-right: 10px;
      }

      
    }
  }
  
  .tokutyou {
    padding: 60px 100px;
    background-color: #fff;
    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
  
    .head::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .items {
        max-width: calc(1040px + 20px);
        width: 100%;
        margin: 0 auto;
        display: flex;
        
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
  
        .item_image {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
  
         img {
          width: 100%;
          vertical-align: bottom;
          height: auto;
        }
  
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
  
        &__text {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }


  //------徳澄 
  .characteristic{
    padding: 60px 100px;
    background-color: #fff;
    &__head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__head::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      }
    .characteristic-items{
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      .characteristic-item{
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
        padding: 0 20px;
      
      .characteristic-subtitle{
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      .characteristic-detail{
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
      .item-img{
        width:  230px;
        margin: 0 auto;
        line-height: 120px;
        }
      }
    }
  }
  
  .pickup{
    padding-top: 80px;
    .pickup-head{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      width: 100%;
    }
    .pickup-box{
      padding-bottom: 80px;
    }
    .pickup-boxs,.pickup-box{
      &__title{
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;

        a{
          text-decoration: none;
          color: #3ccace;
        }
      }
      .pickup-lists{
        width: 760px;
        margin: 30px auto;
        display: flex;
        justify-content: space-around;
        .pickup-list{
          width: 220px;
          display: inline-block;
          &--image{
            background-color: #3ccace;
            width: 220px;
            height: 150px;
          }
          &--body{
            background-color: white;
            color: #333;
            padding: 16px;
            .name{
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .details{
              font-size: 16px;
              ul{
                display: flex;
                justify-content: space-between;align-items: center;
              }
              .fa{
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
              }
              p{
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  .pickup:last-child{
    padding-bottom: 80px;
  }
  .exhibition-btn{
    position: fixed;
    background-color: #3ccace;

    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    padding: 15px;
    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
      padding: 0 10px;
      .image{
      background-image: image-url("icon_camera.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 100%;
      height: 60px;
    }
  }
    
  }
}

// -------フッター
.appbanner{
  background-image: image-url("bg-appBanner-pict.jpg");
  background-position: center;
  height: 350px;
  background-size: cover;
  display: flex;
  align-items: center;
  .banner-box{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    &__title{
      font-size: 24px;
      font-weight: bold;
    }
    &__text{
      font-size: 35px;
    }
    &__btn {
      justify-content: center;
      margin: 20px auto 0;
    }
  }
}

.footer {

  background-color: #272727;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  * {
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;;
    box-sizing: border-box;
  }
  .footer_content {
    &__list {
    display: flex;
    margin: 0 auto;
    max-width: 840px;
    &__box {
    width: 100%;
    h2 {
      margin: 0 0 20px;
      font-size: 16px;
      font-weight: bold;
      a {
      text-decoration: none;
      color: #FFFFFF;
    }
    }
    li {
      color: #fff;
      list-style: none;
      color: #fff;
      display: list-item;
      margin: 0 0 5px;
      font-size: 12px;
      font-weight: bold;
      flex-direction: column;
      margin: 0 2% 0 0;
    a {
      text-decoration: none;
      color:#FFFFFF;
      font-size: 12px;
      line-height: 32px;
    }
   }
  }
}

  .footer_logo {
    img {
      width: 160px;
      vertical-align: bottom;
    }
  }

  
    .footer_logo_sub {
      p {
        width: 70px;
        font-size: 14px;
        color: #fff;
        margin: 0 auto;
      }
    }
  }
}

